body {
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
}

.nav-inicio {
    background-color: #FFBB5C;
    box-shadow: 0px 4px 4px #E25E3E;
    position: relative;
    height: auto;
    min-height: 90px;
    z-index: 1;
}

.navdiv {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    justify-content: space-around;
    align-items: center;
}
.fondo {
    background-image: url(../img/fondo.jpg);
    height: 1000px;
    margin: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navdiv ul {
    list-style: none;
    display: flex;
}

.navdiv ul li {
    list-style: none;
}

.navdiv ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 20px;
}

.navdiv ul li a:hover {
    background-color: #E25E3E;
    transition: 150ms;
}

.navdiv ul li a:active {
    background-color: #E25E3E;
}

.activo {
    background-color: #E25E3E;
    border: #E25E3E 1px solid;
}

.main-inicio {
    display: flex;
    justify-content: center;
}

.seccion-inicio {
    background-color: #FF9B50;
    height: 520px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
}

.seccion-inicio div ul {
    list-style: none;
    color: #000000;
    line-height: 4;
    font-size: 23px;
}

.datos-inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.datos-inicio img {
    border-radius: 20px;
    border: #FF9B50 3px solid;
}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo h1 {
    font-size: 40px;
    color: #000000;
    font-weight: 600;
}

input {
    display: none;
}

label {
    display: none;
}

@media (max-width: 1130px) {
       
    .navdiv .lista {
        display: none;
    }

    .activo {
        background-color: #E25E3E;
        border: none;
    }

    input:checked~.lista {
        display: block;
        position: absolute;
        top: 90px;
        right: 0px;
        background-color: #FFBB5C;
        z-index: 1;
        width: 190px;
        padding-right: 12px;
        border-radius: 0px 0px 0px 15px;
        border: #FFBB5C 2px solid;
    }

    input:checked~label {
        background-color: #E25E3E;
    }

    label:hover {
        background: #000000;
    }

    .labeldiv {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .lista li {
        text-align: right;
        margin: 15px 0px;
    }

    .lista li a:hover {
        background-color: #E25E3E !important;
    }

    label {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #E25E3E;
        color: #E25E3E;
        border-radius: 10px;
        width: 50px;
        height: 40px;
        font-size: 25px;
        line-height: 30px;
        font-weight: 600;
        user-select: none;
        cursor: pointer;
        background-color: rgb(0, 0, 0);
    }

    .seccion-inicio {
        padding: 10px 0px;
        width: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .datos-inicio img {
        display: none;
    }

    .datos-inicio ul li {
        text-align: center !important;
        font-size: 20px;
    }

    .datos-inicio {
        justify-content: center;
    }

    footer div p{
        font-size: 11px !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seccion-inicio2 {
        height: 900px !important;
        width: 270px !important;
    }

    .caja {
        display: flex !important;
        flex-wrap: wrap;
    }

    .div-propuesta img {
        display: none;
    }

    .seccion-propuesta p {
        padding: 0px !important;
        font-size: 20px !important;
    }

    .seccion-propuesta {
        width: 270px !important;
        height: 660px !important;
    }

    .seccion-avances p {
        padding: 0px !important;
        font-size: 20px !important;
    }

    .seccion-avances {
        width: 270px !important;
        height: 925px !important;
    }
      p {
        padding: 0px !important;
        font-size: 20px !important;
    }

    .seccion-avances2 {
        width: 270px !important;
        height: 4300px !important;
    }

    .seccion-2 p {
        font-size: 39px;
        text-align: center;
    }

    .seccion-2 {
        width: 270px !important;
    }

    .clase-imagenes-padre{
        grid-template-rows: 1fr 1fr 1fr !important;
        grid-template-columns: 1fr !important;
        height: 600px !important;
    }

    .clase-imagen-avances{
        min-height: 200px !important;
    }

    .caja-colores{
        width: 400px !important;
    }

    .clase-colores{
        height: 100px !important;
        width: 100px !important;
        font-size: 20px !important;
    }

    .arbol img{
        width: 370px;
    }
}

.seccion-propuesta {
    background-color: #FF9B50;
    height: 520px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    overflow: auto;
}

.seccion-propuesta h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.seccion-propuesta p {
    color: #000000;
    font-size: 22.8px;
    text-align: justify;
    padding-right: 50px;
}

.seccion-propuesta img {
    border-radius: 20px;
    border: #FF9B50 3px solid;
}

.seccion-avances {
    background-color: #FF9B50;
    height: 440px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    overflow: scroll;
}

.seccion-avances h1 {
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.seccion-avances p {
    color: #000000;
    font-size: 22.8px;
    text-align: justify;
    padding-right: 50px;
}

.seccion-avances2 {
    background-color: #FF9B50;
    height: 440px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    position: relative;
}

.seccion-avances2 h1 {
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 600;
}

.seccion-avances2 p {
    color: #000000;
    font-size: 22.8px;
    text-align: center;
}

.div-avances2{
    display: flex;
    justify-content: center;
}

.detalles{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-colores{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 750px;
    justify-content: space-around;
}

.clase-colores{
    height: 150px;
    width: 150px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#color1{
    background-color: #FF9B50;
}

#color2{
    background-color: #FF9B50;
}

#color3{
    background-color: #FF9B50;
}

.div-propuesta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-avances {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #FF9B50;
    height: 80px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: 200;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 20px;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.seccion-2 {
    background-color: #FF9B50;
    height: 100px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #000000;
}

.main-inicio-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caja {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    margin-bottom: 10px;
}

.caja1 {
    grid-row: 1;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.caja2 {
    grid-row: 1;
    grid-column: 2/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.caja3 {
    grid-row: 2;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.caja4 {
    grid-row: 2;
    grid-column: 2/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.caja1 img {
    border-radius: 141.5px;
}

.caja2 img {
    border-radius: 141.5px;
}

.caja3 img {
    border-radius: 141.5px;
}

.caja4 img {
    border-radius: 141.5px;
}

.seccion-inicio2 {
    background-color: #FF9B50;
    height: 450px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.texto-boton a {
    background-color: #e25e3e;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 30px;
}

.texto-boton a:hover {
    background-color: #000000;
    transition: 150ms;
    color: white;
}

.texto-boton a:active {
    background-color: #000000;
    transition: 150ms;
}

.texto-boton {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto-boton h2 {
    line-height: 1.1;
    font-weight: 400;
}

.clase-imagenes-padre{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.clase-imagen-avances {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: FF9B50;
    background-size: cover;
}

.clase-imagen-avances p {
    padding: 25px;
    font-size: 19px;
    font-weight: 600;
}

#img1 {
    background-image: url(../img/1.png);
}

#img2 {
    background-image: url(../img/2.png);
}

#img3 {
    background-image: url(../img/3.png);
}

.arbol{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#hp  {
    float: inline-end;    
     margin: 0 0 0 15px;

    }