.error {
    border: 2px solid red; /* Cambia el borde a rojo en caso de error */
  }
  /* Estilos para el botón de enviar */
#subscribe-button {
    background-color: #FFBB5C; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón (ajusta según tus preferencias) */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cursor de estilo mano al pasar el ratón sobre el botón */
}

#subscribe-button:hover {
    background-color: #E25E3E; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

.item1 { grid-area: header; }
.item2 { grid-area: productos; }
.item3 {grid-area: carrito; }
.item4 {grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'carrito carrito carrito productos productos productos'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#carrito.show {
    display: block; /* O cualquier estilo que desees cuando el carrito está expandido */
}

.dropdown {
    position: relative;
    display: inline-block;
  }

form {
    margin: 20px;
  }
  .formulario{
    background-color: #5f4e40; /* Cambia el color de fondo a tu preferencia */
    padding: 20px; /* Añade espaciado interior al formulario si es necesario */
    border-radius: 10px; /* Agrega esquinas redondeadas al formulario si lo deseas */
    /* Otros estilos para el formulario */
  }
    
  label {
    font-weight: bold;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .oferta{display: flex;}
  
  input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
   
   #carouselExampleCaptions {
        height: 55vh;
        width: 100%; 

    }
    
    .carousel-item {
        height: 100%; /* Establece la altura del contenido del carrusel al 100% */
    }
    
    .carousel-inner {
        height: 100%; /* Establece la altura del contenido del carrusel al 100% */
    }
    .lead {font-weight: 600;}
    
    .featurette {color: #ffffff;}

    .featurette-divider {
        
        margin: 0rem 0;
        /* Space out the Bootstrap <hr> more */
      }
      
      /* Thin out the marketing headings */
      /* rtl:begin:remove */
      .featurette-heading {
        letter-spacing: -.05rem;
      }
      
      /* rtl:end:remove */
.cerveza {
    margin-left: 100px;
    width: 300px;
    height: 300px;
}
    

   


body {
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
}

.nav-inicio {
    background-color: #FFBB5C;
    box-shadow: 0px 4px 4px #E25E3E;
    position: relative;
    height: auto;
    min-height: 90px;
    z-index: 1;
}

.navdiv {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    justify-content: space-around;
    align-items: center;
}
.fondo {
    background-image: url(../img/fondon.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
    margin: 0;
    background-size: cover;
    margin-bottom: opx;
    justify-content: center;
    align-items: center;
}
.fondo1 {
    background-image: url(../img/fondon2.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
    margin: 0;
    background-size: cover;
    margin-bottom: opx;
    justify-content: center;
    align-items: center;
}
.fondo2 {
    background-image: url(../img/fondon3.jpg);
    height: 70vh;
    width: 100%;
    background-repeat: repeat;
    margin: 0;
    background-size: cover;
    margin-bottom: opx;
    justify-content: center;
    align-items: center;
}

.navdiv ul {
    list-style: none;
    display: flex;
}

.navdiv ul li {
    list-style: none;
}

.navdiv ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 20px;
}

.navdiv ul li a:hover {
    background-color: #E25E3E;
    transition: 150ms;
}

.navdiv ul li a:active {
    background-color: #E25E3E;
}

.activo {
    background-color: #E25E3E;
    border: #E25E3E 1px solid;
}

.main-inicio {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.seccion-inicio {
    background-color: #FF9B50;
    height: 520px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
}

.seccion-inicio div ul {
    list-style: none;
    color: #000000;
    line-height: 4;
    font-size: 23px;
}

.datos-inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.datos-inicio img {
    border-radius: 20px;
    border: #FF9B50 3px solid;
}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo h1 {
    font-size: 40px;
    color: #000000;
    font-weight: 600;
}

input {
    display: none;
}

label {
    display: flex;
}

.ocultar-div{
    display: none;
}

.img-mision {
    max-width: 450px;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Un valor alto para garantizar que esté encima de otros elementos */
    width: 100%;
  }
  .img-mision2 {
    max-width: 450px;
    position: absolute;
    top: 1150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Un valor alto para garantizar que esté encima de otros elementos */
    width: 100%;
  }
  
  .seccion-mision {
    padding-top: 300px; /* Agrega padding al inicio de la sección para compensar la imagen */
  }
  


.seccion-mision {
    margin: 0 auto;
    background-color: #FF9B50;
    height: auto;
    width: 800px;
    border-radius: 20px;
    padding: 40px 80px;
    overflow: auto;
    height: auto;
    display: block;
}


@media (max-width: 1130px) {
       
    .navdiv .lista {
        display: none;
    }

    .activo {
        background-color: #E25E3E;
        border: none;
    }

    input:checked~.lista {
        display: block;
        position: absolute;
        top: 90px;
        right: 0px;
        background-color: #FFBB5C;
        z-index: 1;
        width: 190px;
        padding-right: 12px;
        border-radius: 0px 0px 0px 15px;
        border: #FFBB5C 2px solid;
    }

    input:checked~label {
        background-color: #E25E3E;
    }

    label:hover {
        background: #000000;
    }

    .labeldiv {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    label {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #E25E3E;
        color: #E25E3E;
        border-radius: 10px;
        width: 50px;
        height: 40px;
        font-size: 25px;
        line-height: 30px;
        font-weight: 600;
        user-select: none;
        cursor: pointer;
        background-color: rgb(0, 0, 0);
    }

    .lista li {
        text-align: right;
        margin: 15px 0px;
    }

    .lista li a:hover {
        background-color: #E25E3E !important;
    }

    

    .seccion-inicio {
        padding: 10px 0px;
        width: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .datos-inicio img {
        display: none;
    }

    .datos-inicio ul li {
        text-align: center !important;
        font-size: 20px;
    }

    .datos-inicio {
        justify-content: center;
    }

    footer div p{
        font-size: 11px !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seccion-inicio2 {
        height: 900px !important;
        width: 270px !important;
    }

    .caja {
        display: flex !important;
        flex-wrap: wrap;
    }

    .div-propuesta img {
        display: none;
    }

    .seccion-propuesta p {
        padding: 0px !important;
        font-size: 20px !important;
    }

    .seccion-propuesta {
        width: 270px !important;
        height: 660px !important;
    }

    .seccion-avances p {
        padding: 0px !important;
        font-size: 20px !important;
    }

    .seccion-avances {
        width: 270px !important;
        height: 925px !important;
    }
      p {
        padding: 0px !important;
        font-size: 20px !important;
    }

    .seccion-avances2 {
        width: 270px !important;
        height: 4300px !important;
    }

    .seccion-2 p {
        font-size: 39px;
        text-align: center;
    }

    .seccion-2 {
        width: 270px !important;
    }

    .clase-imagenes-padre{
        grid-template-rows: 1fr 1fr 1fr !important;
        grid-template-columns: 1fr !important;
        height: 600px !important;
    }

    .clase-imagen-avances{
        min-height: 200px !important;
    }

    .caja-colores{
        width: 400px !important;
    }

    .clase-colores{
        height: 100px !important;
        width: 100px !important;
        font-size: 20px !important;
    }

    .arbol img{
        width: 370px;
    }
}

.seccion-propuesta {
    background-color: #FF9B50;
    height: 520px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    overflow: auto;
}

.seccion-propuesta h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.seccion-propuesta p {
    color: #000000;
    font-size: 22.8px;
    text-align: justify;
    padding-right: 50px;
}

.seccion-propuesta img {
    border-radius: 20px;
    border: #FF9B50 3px solid;
}

.seccion-avances {
    background-color: #FF9B50;
    height: 440px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    overflow: scroll;
}

.seccion-avances h1 {
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.seccion-avances p {
    color: #000000;
    font-size: 22.8px;
    text-align: justify;
    padding-right: 50px;
}

.seccion-avances2 {
    background-color: #FF9B50;
    height: 440px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    position: relative;
}

.seccion-avances2 h1 {
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 600;
}

.seccion-avances2 p {
    color: #000000;
    font-size: 22.8px;
    text-align: center;
}

.div-avances2{
    display: flex;
    justify-content: center;
}

.detalles{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-colores{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 750px;
    justify-content: space-around;
}

.clase-colores{
    height: 150px;
    width: 150px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#color1{
    background-color: #FF9B50;
}

#color2{
    background-color: #FF9B50;
}

#color3{
    background-color: #FF9B50;
}

.div-propuesta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-avances {
    display: flex;
    flex-direction: row;
}

footer {
    clear: both;
    position: absolute;
    background-color: #FF9B50;
    height: 80px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: 200;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 20px;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.seccion-2 {
    background-color: #FF9B50;
    height: 100px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #000000;
}

.main-inicio-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caja {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    margin-bottom: 10px;
}

.caja1 {
    grid-row: 1;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.caja2 {
    grid-row: 1;
    grid-column: 2/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.caja3 {
    grid-row: 2;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.caja4 {
    grid-row: 2;
    grid-column: 2/2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.caja1 img {
    border-radius: 141.5px;
}

.caja2 img {
    border-radius: 141.5px;
}

.caja3 img {
    border-radius: 141.5px;
}

.caja4 img {
    border-radius: 141.5px;
}

.seccion-inicio2 {
    background-color: #FF9B50;
    height: 450px;
    width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.texto-boton a {
    background-color: #e25e3e;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 30px;
}

.texto-boton a:hover {
    background-color: #000000;
    transition: 150ms;
    color: white;
}

.texto-boton a:active {
    background-color: #000000;
    transition: 150ms;
}

.texto-boton {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto-boton h2 {
    line-height: 1.1;
    font-weight: 400;
}

.clase-imagenes-padre{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.clase-imagen-avances {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: FF9B50;
    background-size: cover;
}

.clase-imagen-avances p {
    padding: 25px;
    font-size: 19px;
    font-weight: 600;
}

.card-img-top{


}
#img1 {
    background-image: url(../img/1.png);
}

#img2 {
    background-image: url(../img/2.png);
}

#img3 {
    background-image: url(../img/3.png);
}

.arbol{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#hp  {
    float: inline-end;    
     margin: 0 0 0 15px;

    }

.container{
    width: 5px;
    height: 5px;
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}

.header-section div{
    position: relative;
}

.header-section p{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: system-ui;
    /* line-height: 18px; */
}

header{
    /* background-color: #e4e4e8; */
    /* padding-top: 18px;
    padding-bottom: 18px; */
    box-shadow: 0 7px 8px -3px;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    z-index: 99;
}

.cart{
    width: 50px;
    height: 50px;
}
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    min-width: 290px;
 
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}
/*end header*/
.products{
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carts{
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
    background-color: #fff;
}
.carts img{
    width: 150px;
    height: 250px;

}
.carts p{
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color:#e25e3e;
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: #e25e3e;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: black;
    border: solid 2px black;
    transition-duration: .3s;
}

/*float cart*/
.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    padding: 0px 5px;
    border-radius: 50%;
    color: black;
    font-family: system-ui bold;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

/*stye to btn close*/
p.close-btn{
    top: 4px;
    right: 6px;
    width: 50px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #e25e3e;
    
}
p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}